pipeline/get_file_names_ppl.json
{
	"name": "get_file_names_ppl",
	"properties": {
		"activities": [
			{
				"name": "get file names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "input_file_names",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@variables('container_name')",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@variables('folder_name')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "input file name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get file names').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "schema file name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "schema_filename",
								"value": {
									"value": "@concat(substring(variables('name'), 0, add(length(variables('name')), -4)), '_schema.csv')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "input file structure",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "schema file name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "input_file_structure_dataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('name')",
											"type": "Expression"
										},
										"directory": {
											"value": "@variables('folder_name')",
											"type": "Expression"
										},
										"container": {
											"value": "@variables('container_name')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "schema file structure",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "schema file name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "schema_file_structure_dataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('schema_filename')",
											"type": "Expression"
										},
										"directory": {
											"value": "@variables('schema_folder_name')",
											"type": "Expression"
										},
										"container": {
											"value": "@variables('schema_container_name')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "schema match check",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "input file structure",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "schema file structure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('input file structure').output.structure, activity('schema file structure').output.structure)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy matched files",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"container_name": {
				"type": "String",
				"defaultValue": "rawdata"
			},
			"folder_name": {
				"type": "String",
				"defaultValue": "Movie"
			},
			"name": {
				"type": "String"
			},
			"schema_name": {
				"type": "String"
			},
			"char_length": {
				"type": "Integer"
			},
			"schema_filename": {
				"type": "String"
			},
			"schema_container_name": {
				"type": "String",
				"defaultValue": "refschema"
			},
			"schema_folder_name": {
				"type": "String",
				"defaultValue": "SCHEMA"
			}
		},
		"annotations": []
	}
}