pipeline/get_file_names_ppl.json
{
	"name": "get_file_names_ppl",
	"properties": {
		"activities": [
			{
				"name": "get file names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "input_file_names",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@variables('container_name')",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@variables('folder_name')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get file names').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append",
								"value": {
									"value": "@item().names",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"fileListPath": "rawdata/Movie",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "input_file_names",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@variables('container_name')",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@variables('folder_name')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"container_name": {
				"type": "String",
				"defaultValue": "rawdata"
			},
			"folder_name": {
				"type": "String",
				"defaultValue": "Movie"
			},
			"filename": {
				"type": "String"
			},
			"append": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}