pipeline/webhook_pipeline3.json
{
	"name": "webhook_pipeline3",
	"properties": {
		"activities": [
			{
				"name": "success mail_copy1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-type": "application/json"
					},
					"url": "https://movievault1.vault.azure.net/secrets/logicAppURL/d3dfd67310d5480ea845f4e8e64088c8?api-version=7.0",
					"body": {
						"value": "{\n    \"pipeline\": \"test\"\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "success mail_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vari1",
					"value": {
						"value": "@activity('success mail_copy1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "success mail_copy1_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"url": {
						"value": "@variables('vari1')",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline\": \"test\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vari1": {
				"type": "String"
			}
		},
		"annotations": []
	}
}